@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root{
    --primary-color:#4CAF4F;
    --second-color:#FFFFFF;
    --third-color:#717171;
    --silver-color:#f5f7fa;
    --grey-color:#4D4D4D;
}  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    color: var(--grey-color);
    margin-bottom: 10px;
}
h2{
    color: var(--primary-color);
    margin-bottom: 10px;
}
body {
  font-family: "Inter", sans-serif;
  s
}
header{
    padding: 20px 0;
    background-color: var(--silver-color);
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.logo{
    width: 154px;
    height: 24px;
    margin-left: 130px;
}
.link{
    text-decoration: none;
    list-style: none;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: var(--text-grey);
    font-size: 16px;
}
.nav-links ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.nav-bar{
    width: 500px;
    height: 24px;
}
.button1 .button2{
    padding: 10px 20px 10px 20px;
    gap: 10px;
    margin-top: 20px;
}
.auth-button{
    display: flex;
    align-items: center;
    gap: 14px;
}
.button2{
    background-color: var(--primary-color);
    color: var(--second-color);
    border: none;
    border-radius: 6px;
    width: 91px;
    height: 40px;
    font-size:14px;
    cursor: pointer;
    margin-right: 50px;
}
.button1{
    border: none;
    background: none;
    font-size: 14px;
    color: var(--primary-color);
    line-height: 20px;
    font-weight: 500;
    width: 91px;
    height: 40px;
}
.disc{
    font-size: 36px;
    color:var(--third-color);
}
h3{
    font-size: 16px;
    font-weight: 400;
}
.left.disc h3{
    margin-top: 16px;
}
.button3{
    background-color: var(--primary-color);
    color: var(--second-color);
    border-radius: 8px;
    width: 128px;
    height: 52px;
    font-size:16px;
    cursor: pointer;
    border: none;
}
p{
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--third-color);
}
.section1{
    display: flex;
    justify-content: center;
    height: calc(100vh - 80px);
    align-items: center;
    background-color: var(--silver-color);
}
.left{
    width: 657px;
    height: 276px;
    gap: 32px;
    justify-content: start;
}
.photo2{
    width: 391px;
    height: 407px;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 1500px;
    padding: 60px 20px;
}
.clients{
    justify-content:center;
    margin-bottom:30px ;
}
.clints h1{
    margin-bottom: 10px;
    color: #333;
}
.clints p{
    font-size: 16px;
    color: #666;
}
.logos{
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 120px;
}
.icon{
    width: 50px;
    height: auto;
}
.section3{
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 1440px;
}
.text{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.text h1{
    width: 370px;
    height: 88px;
    color: var(--grey-color);
}
.text p {
    font-size: 16px;
    color:var(--third-color);
}
.section4{
    display: flex;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    text-align: center;
    width: 1152px;
    padding: 60px 20px;
}
.icon-svg img {
  width: 60px;
  height: auto;
  margin-bottom: 20px;
}
.icon-svg{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    width: 299px;
    height: 230px;
    gap: 8px;
}
.icon-svg h1{
    width:180px;
}
.section5,.section7{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.image{
    width: 442px;
    height: 433px;
}
.disc{
    width: 668px;
    height: 268px;
}
.disc h1{
    font-size:  42px;
}    
.disc h3{
    width: 601px;
    align-items: flex-start;
    color: var(--third-color);
}
.section5.disc h3{
    margin-top: 16px;
    margin-bottom: 32px;
}
.button4,.button5{
    background-color: var(--primary-color);
    color: var(--second-color);
    border: none;
    border-radius: 6px;
    width: 151px;
    height: 52px;
    font-size:14px;
    cursor: pointer;
}
.section6{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px;
    height: 288px;
    background-color: #F5F7FA;
}
.left-text{
    width:540px;
    height: 120px;
}
.left-text h1 {
    font-size: 24px;
    color: #333;
}

.left-text h2 {
    font-size: 24px;
}

.left-text h3 {
    font-size: 14px;
    color: var(--third-color);
}
.right-icons{
    width: 540px;
    height: 160;
    display: flex;
    flex-direction: column;
}
.top-icons, .bottom-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-bottom: 40px;
    gap: 30px;
    width: 540;
}
.right-icons img {
  width: 48px;
  height: 48px;
  margin-bottom: 10px;
}
.top-icons div,.bottom-icons div {
  display: flex;
  align-items: center;
  text-align: center;
}
.classtext{
    display: flex;
    flex-direction: column;
    width: 191px;
}
.section7{
    padding-bottom: 48px;
}
.section8{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: #F5F7FA;
    margin-bottom: 48px;
}
.section8 .LEFT img{
    width: 326px;
    height: 326px;
    padding-top: 20px;
}
.p2{
    color: var(--third-color);
}
.icon3{
    color: var(--primary-color);
}
.logos2{
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 41px;
    margin-top: 42px;
}
.customer{
    font-weight: 600;
}
.logos2 .icon img{
    width: 50px;
    height: auto;
}
.RIGHT{
    align-items: start;
    width: 748px;
    height: 324px;
    gap: 32px;
    margin-top: 20px;
}
.RIGHT h3{
    color: var(--third-color);
}
.section9{
    align-items: center;
    text-align: center;
    width: 1440;
    height: 506px;
    margin-bottom: 94.6px;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.text-disc{
    margin-left: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 32px;
    width: 628px;
    height: 72px;
}
.text-disc h1,p{
    text-align: center;
}
.last-photos{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 24px;
}
.card{
    position: relative;
    width:368px ;
    height:462px ;
}
.content{
    position: absolute;
    bottom: 88px;
    left: 50%;
    transform: translatex(-50%);
    width: 317px;
    height: 176px;
    border-radius: 8px;
    background-color: var(--silver-color);
}
.content p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    padding-top: 16px;
}
.content button{
    color: var(--primary-color);
    background: none;
    border: none;
    width: 50%;
    height: 40px;
    padding-top: 16px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
}   
.section10{
    justify-content: center;
    text-align: center;
    align-items: center;   
    background-color: #F5F7FA;
   
}
.section10 h1{
    width: 800px;
    height: 152px;
    font-weight: 600;
    font-size: 64px;
    color:#263238;
    margin-left: 350px;
    margin-bottom: 32px;
}
.section10 .button5{
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    margin-bottom: 32PX;
} 
.footer{
    background-color: #263238;
    display: flex;
    gap: 125px;
    height: 328px;
}
.lefttext{
    width: 350px;
    height: 190px;
    color: #F5F7FA;
    margin-top: 65px;
    margin-left: 165px;
}
.lefttext img{
    width: 191px;
    height: 30px;
    margin-bottom: 40px;
} 
.righttext{
    width: 635px;
    height: 200px;
    color: #F5F7FA;
    padding-top: 65px;
    display: flex;
}
.lefttext span{
    margin-bottom: 8px;
}
.foot-logos{
    margin-top: 40px;
    list-style: none;
}
.foot-logos a:hover {
    background-color: #444;
}
.foot-logos i {
    font-size: 18px;
}
.foot-logos ul{
    display: flex;
    gap: 20px;
    padding: 0;
}
table{
    justify-content: space-between;
    gap: 30px;
}
td,th{
    padding: 10px 20px;
    text-align: left;
}
th{
    font-size: 20px;
    color: #F5F7FA;
}
td{
    font-size: 14px;
    color: #F5F7FA;
}
.form{
    margin-left:30px;
}
.form h1{
    color: #FFFFFF;
    margin-bottom: 24px;
}
.email-input{
    width: 255px;
    height: 40px;
    border-radius: 8px;
    background-color:#3a3c53 ;
    border: none;
}
.search-box{
    position: relative;
}
.paperplane{
    position: absolute;
    left: 16px;
    top:calc(50%-8px);
}
.search-box input{
    color: #D9DBE1;
    font-size: 14px;
}
.search-box input::placeholder{
    color: #D9DBE1;
    padding-left: 10px;
}

